.shiny-text {
    display: inline-block;
    animation-play-state: running;
}

.shiny-text:hover {
    animation-play-state: paused;
}

@keyframes shine {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: -200% center;
    }
}